<div class="ct-container mat-typography" [class.ct-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="ct-toolbar">
        <h1 class="ct-app-name">Orders Center</h1>
        <span class="ct-spacer"></span>
        <button mat-icon-button (click)="logout()" matTooltip="Logout">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <nav class="ct-nav" mat-tab-nav-bar>
        <a mat-tab-link routerLink="active-orders" routerLinkActive="ct-accent">
            <mat-icon>reorder</mat-icon>
            <h3 matLine>Active orders</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="update-queue" routerLinkActive="ct-accent">
            <mat-icon>queue</mat-icon>
            <h3 matLine>Export Queue</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="export" routerLinkActive="ct-accent">
            <mat-icon>get_app</mat-icon>
            <h3 matLine>Export</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="archived-orders" routerLinkActive="ct-accent">
            <mat-icon>archive</mat-icon>
            <h3 matLine>Archived orders</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="export-history" routerLinkActive="ct-accent">
            <mat-icon>history</mat-icon>
            <h3 matLine>Export History</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="skus" routerLinkActive="ct-accent">
            <mat-icon>qr_code_2</mat-icon>
            <h3 matLine>SKUs</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <a mat-tab-link routerLink="productSkus" routerLinkActive="ct-accent">
            <mat-icon>production_quantity_limits</mat-icon>
            <h3 matLine>Product SKUs</h3>
        </a>
        <mat-divider vertical="vertical"></mat-divider>
        <ng-container *ngIf="isAdmin">
            <a mat-tab-link routerLink="upload-file" routerLinkActive="ct-accent">
                <mat-icon>upload</mat-icon>
                <h3 matLine> Upload a File </h3>
            </a>
            <mat-divider vertical="vertical"></mat-divider>
            <a mat-tab-link routerLink="shopify-order-import" routerLinkActive="ct-accent">
                <mat-icon>import_export</mat-icon>
                <h3 matLine> Import Shopify Orders</h3>
            </a>
            <mat-divider vertical="vertical"></mat-divider>
            <a mat-tab-link routerLink="shopify-product-import" routerLinkActive="ct-accent">
                <mat-icon>import_export</mat-icon>
                <h3 matLine> Import Shopify Products</h3>
            </a>
            <mat-divider vertical="vertical"></mat-divider>
            <a mat-tab-link routerLink="vehicles" routerLinkActive="ct-accent">
                <mat-icon>commute</mat-icon>
                <h3 matLine>Vehicles</h3>
            </a>
            <mat-divider vertical="vertical"></mat-divider>
            <a mat-tab-link routerLink="users" routerLinkActive="ct-accent">
                <mat-icon>account_box</mat-icon>
                <h3 matLine>Users</h3>
            </a>
        </ng-container>
    </nav>
    <router-outlet></router-outlet>
</div>




