.ct-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ct-toolbar {
  height: 36px !important;
}

h1.ct-app-name {
  font-size: 18px;
  margin-left: 8px;
}

.ct-spacer {
  flex: 1 1 auto;
}

.ct-nav .mat-tab-link {
  height: 36px !important;
  padding: 8px 16px !important;
  min-width: 0 !important;
  opacity: 1 !important;
}


.ct-nav .mat-tab-link mat-icon {
  font-size: 18px !important;
  line-height: 24px;
}

.ct-nav .mat-tab-link h3 {
  font-size: 12px !important;
  margin: 0 !important;
}


