<mat-toolbar class="ct-toolbar mat-elevation-z1">
  <button mat-flat-button color="primary" (click)="onAdd()">
    <mat-icon>add</mat-icon>
    Add
  </button>
  <button mat-flat-button [disabled]="noRowSelected()" color="primary" (click)="onDuplicate()">
    <mat-icon>content_copy</mat-icon>
    Duplicate
  </button>
  <button mat-flat-button [disabled]="noRowSelected()" color="warn" (click)="onRemove()">
    <mat-icon>delete</mat-icon>
    Remove
  </button>
  <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>

</mat-toolbar>

<div *ngIf="columns" class="ct-table-wrapper">
  <ag-grid-angular class="ag-theme-material"
                   [gridOptions]="options"
                   [modules]="modules"
                   [rowData]="rowData"></ag-grid-angular>
</div>
