<form #skuForm="ngForm" novalidate>
  <h1 mat-dialog-title>Add New</h1>
  <mat-dialog-content>

    <mat-form-field floatLabel="always">
      <mat-label>Name</mat-label>
      <input matInput name="name" [required]="true" [(ngModel)]="data.name" type="text" #name="ngModel">
      <mat-error *ngIf="name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>


    <mat-form-field floatLabel="always">
      <mat-label>Type</mat-label>
      <mat-select name="skuType" [(ngModel)]="data.skuType" #type="ngModel">
        <mat-option value="bulbType">bulbType</mat-option>
        <mat-option value="bulbTypeFogLight">bulbTypeFogLight</mat-option>
        <mat-option value="highBeam">highBeam</mat-option>
        <mat-option value="lowBeam">lowBeam</mat-option>
        <mat-option value="fogLight">fogLight</mat-option>
        <mat-option value="hbCanBus">hbCanBus</mat-option>
        <mat-option value="lbCanBus">lbCanBus</mat-option>
      </mat-select>
      <mat-error *ngIf="type.hasError('required')">
        Type is required
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save(skuForm)" color="primary" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</form>
