.ct-toolbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.ct-spacer {
  flex: 1 1 auto;
}

.mat-menu-item .mat-icon {
  margin-right: 0 !important;
}

.ct-table-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.ct-table-wrapper ag-grid-angular {
  display: inline-block;
  flex: 1 1 auto;
  height: calc(100vh - 118px);;
}

.ct-table-wrapper .ct-next-button {
  align-self: center;
}

button {
  height: 36px !important;
}

button mat-icon {
  font-size: 18px !important;
}

.ct-order-date {
  height: 36px;
  font-size: 12px;
}
