<mat-card class="mat-elevation-z16">
    <mat-card-content>
        <div [formGroup]="listingFilter">

            <mat-form-field class="ct-order-type">
                <mat-label>High Beam</mat-label>
                <mat-select formControlName="highBeam">
                    <mat-option *ngFor="let x of highBeams" [value]="x.value">{{x.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ct-order-type">
                <mat-label>Low Beam</mat-label>
                <mat-select formControlName="lowBeam">
                    <mat-option *ngFor="let x of lowBeams" [value]="x.value">{{x.name}}</mat-option>
                </mat-select>
            </mat-form-field>


            <button (click)="exportListing()" color="primary" mat-icon-button type="button">
                <mat-icon>get_app</mat-icon>
            </button>

            <button (click)="clear()" color="accent" mat-icon-button type="button">
                <mat-icon>refresh</mat-icon>
            </button>

        </div>
    </mat-card-content>

</mat-card>
