<mat-card class="ct-toolbar mat-elevation-z1">
    <button mat-icon-button
            matTooltip="Add"
            color="primary" (click)="onAdd()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Duplicate"
            [disabled]="noRowSelected()" color="primary" (click)="onDuplicate()">
        <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Remove"
            [disabled]="noRowSelected()" color="warn" (click)="onRemove()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>


    <span class="ct-spacer"></span>
    <div [formGroup]="orderDateForm">
        <mat-form-field class="ct-order-date">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="orderDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>


    <button class="ct-filter"
            matTooltip="Status filter"
            [color]="orderType!='all'? 'primary': ''"
            mat-icon-button
            [matMenuTriggerFor]="menu">
        <mat-icon>filter_alt</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="orderTypeChanged('all')">
            <mat-icon *ngIf="orderType==='all'">checked</mat-icon>
            <span>All</span>
        </button>
        <button mat-menu-item (click)="orderTypeChanged('completed')">
            <mat-icon *ngIf="orderType==='completed'">checked</mat-icon>
            <span>Completed</span>
        </button>
        <button mat-menu-item (click)="orderTypeChanged('carifex completed')">
            <mat-icon *ngIf="orderType==='carifex completed'">checked</mat-icon>
            <span>CariFex Completed</span>
        </button>
        <button mat-menu-item (click)="orderTypeChanged('non carifex completed')">
            <mat-icon *ngIf="orderType==='non carifex completed'">checked</mat-icon>
            <span>Non CariFex Completed</span>
        </button>
        <button mat-menu-item (click)="orderTypeChanged('uncompleted')">
            <mat-icon *ngIf="orderType==='uncompleted'">checked</mat-icon>
            <span>Uncompleted</span>
        </button>
    </mat-menu>

    <button mat-icon-button matTooltip="Reset Filters" color="accent" (click)="clearFilters()">
        <mat-icon>cancel</mat-icon>
    </button>

</mat-card>

<div *ngIf="columns" class="ct-table-wrapper">
    <ag-grid-angular class="ag-theme-balham"
                     [gridOptions]="options"
                     [modules]="modules"
                     [rowData]="rowData"></ag-grid-angular>
</div>
