<div class="ct-container">

    <div class="ct-row">

        <div class="ct-upload-zone">
            <div (fileDropped)="importFile($event)" class="ct-drop-zone" ctDnd>
                Drag and Drop
            </div>
            <div class="ct-progress-bar">
                <mat-progress-bar [value]="progressBarValue" mode="determinate"></mat-progress-bar>
            </div>
            <input #fileInput (change)="importFile($event.target)" class="ct-hide" type="file"/>
            <div class="ct-button-container">
                <button (click)="onChoseFile(fileInput)" color="primary" mat-raised-button>Choose Files</button>
                <button (click)="uploadFile()" color="accent" mat-raised-button>
                    <mat-icon>upload</mat-icon>
                </button>

            </div>
            <div *ngIf="uploadedFileName" class="ct-file-name">
                <mat-label> {{uploadedFileName}} </mat-label>
            </div>
        </div>

    </div>


</div>
