<mat-card class="ct-toolbar mat-elevation-z1">
    <div>
        <button (click)="queueAll()" class="ct-toolbar-btn" color="primary" mat-flat-button>
            Queue All
        </button>
        <button (click)="unQueueAll()" class="ct-toolbar-btn" color="warn" mat-flat-button>
            UnQueue All
        </button>
    </div>

    <span class="ct-spacer"></span>
    <div [formGroup]="orderDateForm">
        <mat-form-field class="ct-order-date">
            <mat-label>Choose a date</mat-label>
            <input [matDatepicker]="picker" formControlName="orderDate" matInput>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <button [color]="orderStatus!=0 ? 'primary': ''" [matMenuTriggerFor]="menu" class="ct-filter" mat-icon-button>
        <mat-icon>filter_alt</mat-icon>
    </button>
    <button (click)="refresh()" mat-icon-button matTooltip="Refresh">
        <mat-icon>refresh</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

        <button (click)="orderStatus=0;refresh()" mat-menu-item>
            <span>Both</span>
        </button>

        <button (click)="orderStatus=1;refresh()" mat-menu-item>
            <span>Pending</span>
        </button>

        <button (click)="orderStatus=2;refresh()" mat-menu-item>
            <span>Queued</span>
        </button>

    </mat-menu>
    <button (click)="clearFilters()" color="accent" mat-icon-button matTooltip="Reset Filters">
        <mat-icon>
            cancel
        </mat-icon>
    </button>


</mat-card>

<div *ngIf="columns" class="ct-table-wrapper">
    <ag-grid-angular [gridOptions]="options"
                     [modules]="modules"
                     [rowData]="rowData"
                     class="ag-theme-balham"></ag-grid-angular>
</div>
