# This is a basic workflow to help you get started with Actions

name: Staging CI

# Controls when the action will run. 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  build-server:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: './server'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, json
          ini-values: post_max_size=256M, max_execution_time=180
          coverage: xdebug
          tools: php-cs-fixer, phpunit
      - name: Get Composer Cache Directory
        id: get-composer-cache-dir
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - name: Cache Composer
        uses: actions/cache@v1
        id: composer-cache
        with:
          path: ${{ steps.get-composer-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Install composer dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install
  deploy:
    needs: [ build-server ]
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v2.3.2
      - name: Sync Client files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: waws-prod-blu-203.ftp.azurewebsites.windows.net
          username: orders-center\$orders-center
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          local-dir: ./client/dist/
          server-dir: /site/wwwroot/
          dangerous-clean-slate: true
      - name: Sync Server files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: waws-prod-blu-203.ftp.azurewebsites.windows.net
          username: orders-center\$orders-center
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftps
          local-dir: ./server/
          server-dir: /site/wwwroot/api/

